@font-face {
    font-family: "OnStage-Regular";
    src: url("../font/OnStage-Regular.ttf");
}

@font-face {
    font-family: "Lato-Bold";
    src: url("../font/Lato-Bold.ttf");
}
@font-face {
    font-family: "Lato-Regular";
    src: url("../font/Lato-Regular.ttf");
}

@font-face {
    font-family: "Lato-Italic";
    src: url("../font/Lato-Italic.ttf");
}

@font-face {
    font-family: "Lato-Light";
    src: url("../font/Lato-Light.ttf");
}

@font-face {
    font-family: "Lato-Black";
    src: url("../font/Lato-Black.ttf");
}

html, body{ height:100%; margin:0; }


/* Trick */
body{
    display:flex;
    flex-direction:column;
}

* {
    font-family: Lato-Regular, sans-serif;
}

nav {
    background-color: white !important;
    height: 64px !important;
}

.nav-wrapper {
    height: 64px !important;
}

.title_nav {
    font-family: OnStage-Regular, serif;
    color: #731839 !important;
    font-size: calc(15px + .5vw) !important;
    /*font-size: 1.5em !important;*/
    margin-left: 1%;
    white-space: nowrap;
}

.title_nav:default {
    color: #731839;
}

.title_nav:visited {
    color: #731839;
}

.item_nav {
    font-size: 0.9em;
    color: #3E3E3E;
}


.background_image, .background_index, .background_materiel, .background_contact, .background_formation {
    top:0px;
    z-index: 0;
    padding-bottom: 40px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.background_index {
    background-image: url("../img/background-index.png");
}

.background_materiel {
    background-image: url("../img/materiel_background.jpg");
}

.background_formation {
    background-image: url("../img/route_background.png");
}

.background_contact {
    background-image: url("../img/contact_background.jpg");
    min-height: 400px;
}

.background_label {
    background-image: url("../img/quality_label_background.png");
    min-height: 300px;
}

.presentation_title {
    color : white;
    font-size: 3em;
    margin-top: 60px;
    font-family: Lato-Black;
}

.presentation_description {
    color: white;
    margin-top: 30px;
    font-size: 1.1em;
    font-family: Lato-Regular;
}

.button_white, .button_purple, .button_yellow {
    display: block;
    margin-top: 30px;
    padding-top: 12px;
    text-align: center;
    height: 50px !important;
    width: 200px !important;
    border-radius: 5px;
    font-family: Lato-Bold;
    border: none;
}

.button_white:hover, .button_purple:hover, .button_yellow:hover {
    opacity: 0.9;
}

.button_header {
    display: inline-block !important;
    margin-left: 0px;
}

.margin_20_right {
    margin-right: 20px;
}

.button_white {
    color: #464646;
    background-color: white !important;
}

.button_yellow {
    color: white;
    background-color: #D3BD00 !important;
}


.button_purple {
    color: white;
    background-color: #73183B !important;
}

.savoir_plus {
    margin: auto;
}


.heure_ouverture {
    background-color: white;
    margin-top: 60px;
    border-radius: 10px;
    padding: 20px;
    -webkit-box-shadow: 0px 0px 15px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 15px -4px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 15px -4px rgba(0,0,0,0.75);
}

.heure_code {
    margin-top: 20px;
    background-color: #FAF3B4;
    border-radius: 10px;
    padding: 20px;
    -webkit-box-shadow: 0px 0px 15px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 15px -4px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 15px -4px rgba(0,0,0,0.75);
}


.heure_ouverture_title {
    font-family: Lato-Bold;
    margin-bottom: 10px;
}

.heure_code_title {
    font-family: Lato-Bold;
    margin-bottom: 10px;
}

.title_section {
    color: #731839;
    display: inline-block;
    text-align: center;
    font-family: Lato-Bold;
    font-size: 1.4em;
    margin: auto;
    padding-bottom: 10px;
    border-bottom: 2px solid #731839;
}



.container_view {
    -webkit-box-shadow: 0px 0px 48px -11px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 0px 48px -11px rgba(0,0,0,0.2);
    box-shadow: 0px 0px 48px -11px rgba(0,0,0,0.2);
    border-radius: 5px;
    padding: 10px;
    padding-bottom: 1px;
}

.container_photo {
    -webkit-box-shadow: 0px 0px 48px -11px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 0px 48px -11px rgba(0,0,0,0.2);
    box-shadow: 0px 0px 48px -11px rgba(0,0,0,0.2);
    border: 10px solid white;
    margin: auto;
    padding: 10px;
    padding-bottom: 1px;
    margin-top: 20px;
    
}

.container_photo:hover {
    /*cursor: pointer;*/
}




.lato_bold {
    font-family: Lato-Bold;
}

.space-10, .space-20, .space-30 {
    clear: both;
}

.space-10 {
    margin-top: 10px;
}

.space-20 {
    margin-top: 20px;
}

.space-30 {
    margin-top: 30px;
}

.space-40 {
    margin-top: 40px;
}

.space-50 {
    margin-top: 50px;
}

.margin_20 {
    margin: 20px !important;
}

.informations_middle {

}

@media only screen and (max-width: 600px) {

}

.footer-middle {
    padding-left: 20px !important;
}

footer {
    background-color: #3E3E3E;
    color : white;
    padding-top : 10px;
    padding-bottom : 10px;
    padding-left : 30px;
    padding-right: 30px;
    margin-top:auto;
}

.view_formation {
    margin: auto;
    margin-bottom: 20px;
    margin-top: 20px;
    width: 80%;
    height: 250px;
}

.image_container_materiel {
    height: 250px;
    width: 300px;
    display: block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 20px;
}

.title_photo_materiel {
    margin-bottom: 20px;
}

.image_container_formation {
    height: 100px;
}

.logo-permis-un-euro {
    margin-top: 50px;
}

.formulaire {
    font-family: Lato-Bold;
}

.active {
    color: #73183B;
}

.contact_input {
    background-color: white !important;
    padding: 20px !important;
    border: 1px solid rgba(0,0,0,0.05);
    -webkit-box-shadow: 0px 0px 48px -11px rgba(0,0,0,0.2) !important;
    -moz-box-shadow: 0px 0px 48px -11px rgba(0,0,0,0.2) !important;
    box-shadow: 0px 0px 48px -11px rgba(0,0,0,0.2) !important;
    margin: 20px;
}
.contact_text_area {
    height: 200px;
    resize: none;
}

.dropdownmenu {
    position: relative;
    display: inline-block;
    margin-left: 7px;
    margin-right: 15px;
}

.dropdownmenu-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdownmenu-content a {
    display: block;
    color: rgb(62, 62, 62);
}

.dropdownmenu-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdownmenu:hover .dropdownmenu-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

.fleche_bas {
    margin-left: 7px;
    margin-right: 5px;
    position: absolute;
    top: -1px;
}

.max_height {
    height: 400px;
}

.img_center {
    margin: auto;
    margin-top: 20px;
}

#map {
    height: 300px;
}

.prix_container  {
    padding-left: 30px;
    padding-right: 30px;
}

.warning {
    color : #FF1F1F
}

.no_underline {
    border-bottom: none;
}

.info_formation {
    line-height: 30px;
}

.circle_li {
    margin-right: 10px;
}
.sidenav-button {
    color: #731839;
}

.sublink {
    margin-left: 20px;
}

.code_message_professor {
    margin-top: 10px;
    font-size: 0.9em;
    font-style: italic;
}

.document {
    margin-bottom: 10px;
    margin-top: 10px;
    color: #3E3E3E !important;
}
.document a {
    color: #3E3E3E !important;
}


.alert-danger {
    border: 1px solid rgb(245,198,205);
    background-color: rgb(248,215,218);
    color : rgb(114,28,53);
}

.alert-success {
    border: 1px solid rgb(195,230,203);
    background-color: rgb(212,237,218);
    color : rgb(21,87,36);
}

.alert {
    width: 90%;
    border-radius: 5px;
    padding:10px;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 20px;
    margin-bottom: 20px;
}