{% extends 'base.html.twig' %}

{% block title %}S.Fouchard{% endblock %}

{% block body %}
        <div class="background_index">
            <div class="container">
                <div class="row">
                    <div class="col m8 s12">
                        <div class="presentation_title">
                            École de conduite S.Fouchard
                        </div>
                        <div class="presentation_description">
                            Bienvenue sur site internet de l’école de conduite S.Fouchard <br />
                            de Saint-Lô.
                        </div>
                        <a href="#" class="button_white">
                            Nous contacter
                        </a>
                    </div>
                    <div class="col m4 hide-on-small-only">
                        <div class="heure_ouverture">
                            <div class="center heure_ouverture_title">Ouverture</div>
                            <div>Du lundi au vendredi 8h - 19h</div>
                            <div>Le samedi : 8h - 15h</div>
                        </div>
                        <div class="heure_code">
                            <div class="center heure_code_title">Code (1h)</div>
                            <div>Mardi : 18h15</div>
                            <div>Mercredi : 14h00 et 15h00</div>
                            <div>Jeudi : 18h15</div>
                            <div>Vendredi : 18h15</div>
                            <div>Samedi : 10h00 et 11h00</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

{% endblock %}
