{% extends 'base.html.twig' %}

{% block title %}S.Fouchard{% endblock %}

{% block body %}
    <div class="background_index">
        <div class="presentation_title">
            École de conduite S.Fouchard
        </div>
        <div class="presentation_description">
            Bienvenue sur site internet de l’école de conduite S.Fouchard <br />
            de Saint-Lô.
        </div>
        <a href="#" class="button_white">
            Nous contacter
        </a>
    </div>
{% endblock %}
